<!DOCTYPE HTML>
<html>
 <head>
  <meta name="google" content="notranslate">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, height=device-height, initial-scale=0.6">
  <link href="css/boxs.css" rel="stylesheet" media="screen">
  <link href="css/boxs.css" rel="stylesheet" media="handheld">
  <title>MoneyBox</title>
 </head>
 
 <body>
    <div align="center">
        <div class="container">

            {% for box in data %}
                <div class="deviceBox">
                    <div class="nomnam">
                        <!-- Каждая копилка имеет уникальный номер, этот номер при инициализации получает
                        скрипт и с его помощью получает доступ к элементам копилки, поскольку из имена состоят 
                        из ключевого слова и этого номера.
                        Номер записывается в скрытое поле с именем элементом массива, перебрав который скрипт найдет
                        все номера на странице -->
                        <input name="nomer[]" type="hidden" value="{{ box.idBox }}"/>

                        <div class="nom">{{ box.nnBox }}</div> <!-- Номер Копилки -->
                        <div class="nam" id="nam{{ box.idBox }}">{{ box.nameBox }}</div> <!-- Название Копилки. Идентификатор из nam и номера копилки-->
                    </div>
                    <div class="sum" id="sum{{ box.idBox }}">{{ box.summaBox }}</div> <!-- Сумма в Копилке. Идентификатор из sum и номера копилки -->
                    <!-- Вместо &plusmn подставляются &plus для + и &minus для. Идентификатор из butt и номера копилки -->
                    <input type="button" class="butt" id="butt{{ box.idBox }}" value="&ensp;" onclick="sign('{{ box.idBox }}');">
                    <!-- Поле для ввода суммы операции. Идентификатор и имя из box и номера копилки.
                    поле допускает ввод только цифр. -->
                    <input value='' id="box{{ box.idBox }}" type="text" maxlength="7" class="num" onclick="inputAllowed('{{ box.idBox }}');" onkeyup="return reply_change('{{ box.idBox }}');" onkeypress='return event.charCode >= 48 && event.charCode <= 57' readonly>
                    <!-- По этим ссылкам методом GET передается номер копилки для обработки в переменной box -->
                    <a class="link" title="Редактирование" {% if box.idBox != 1 %}href="index.php?box_edit={{ box.idBox }}"{% endif %}>&#9998;</a>
                    <a class="link" title="Статистика" {% if box.idBox != 1 %}href="index.php?box_stat={{ box.idBox }}"{% endif %}>&#128269;</a> <!-- Для бюджета статистика не работает -->
                    <a class="link" title="История" href="index.php?box_his={{ box.idBox }}">&#9200;</a>

                        <details id='dolgiBox{{ box.idBox }}'> <!-- При удалении всех долгов копилки удаляем этот тег, 
                                                    его id = dolgiBox + номер копилки -->
                            <summary>Долги</summary>
                            <!-- Номер долга служит ключом для каждого объекта долга и хранится в массиве ArrDolgi.
                            Все номера долгов собираем в массив dolgi[] с авто. индексами из скрытых полей возле каждого долга
                            и переписываем их в ArrDolgi в качестве ключей. Содержимое - объекты долгов.
                            Свойство value этих скрытых полей добавляется к dolg и получается id полей содержащих сумму долга.
                            Свойства Name полей с суммами это номера копилок к которым долги относятся.
                            Создаем объекты для каждого долга со свойствами name (номер долга) и summa (сумма долга).
                            -->
                            <!-- Скрипт по собранным объектам проверяет и ограничивает ввод сумм в поля долга.
                            При погашении долга или его части скрипт отправляет с помощью AJAX номер долга и сумму погашения, а
                            получает в ответ новую сумму долга и новую статистику по долгам копилки, которая
                            переписывается в контейнер с id = dolgStat + номер копилки. В случае если новая сумма 0, 
                            то долг удаляется, удалением контейнера с id = dolgOne о номер долга.
                            Если долгов больше не осталось у этой копилки то удаляется 
                            целиком тег details с id = dolgiBox и номер копилки
                            -->
                                {% for debt in box.debtsBox %}
                                    <div id='dolgOne{{ debt.idDeb }}'><!-- Для удаления долга служит этот тег с id = dolgOne + номер долга -->
                                        {{ debt.dateDebt }} &#8658; <b>Долг</b>
                                        <input name="dolgi[]" type="hidden" value="{{ debt.idDeb }}"/><!-- Номер Долга -->
                                        <!-- id="dolg1" dolg + Номер Долга, name='2' - Номер Копилки   onclick и onkeyup то же что в id -->
                                        <input value='{{ debt.summa }}' class="num1" id="dolg{{ debt.idDeb }}" name='{{ box.idBox }}' type="text" maxlength="7" onclick="clickDolg('dolg{{ debt.idDeb }}')" onkeyup="newDigit('dolg{{ debt.idDeb }}');" onkeypress='return event.charCode >= 48 && event.charCode <= 57'>
                                        в {{ debt.loanerDebtName }} <div class="debt" title="Погасить" onclick="debt('{{ debt.idDeb }}')">&#128505;</div>
                                    </div>                                    <!-- debt('1') - передаем номер долга в функцию -->
                                {% endfor %}
                            <hr>
                            <div id='dolgStat{{ box.idBox }}'>
                                {{ box.statBox|raw }} <!-- |raw снимает экранирование вывода, чтоб проходили теги HTML -->
                            </div>
                        </details>

                </div>
            {% endfor %}
            
            <!--Скрытые поля для отправки строки JSON на сервер -->
            <input name="transfer" id = "transfer" type="hidden" form="data" value=''/><!-- Перевод денег -->
            <form type="submit" id="data" method="post" action="index.php" ></form>

            <div class="keys1">
                
                <button class="button2" onclick="document.location='index.php?box_edit=new'">Добавить</button>
                <button class="button2" onclick="clearBox();">Очистить</button>
                <label class="switch">
                    <input type="checkbox" id='dolg'>
                    <span class="slider round"><b>В долг</b></span>
                </label> 
                <button class="button2" onclick="send();">Ок</button>
                
            </div>

            </div>
        </div>

    </div>

 </body>
 
<script src="js/boxs.js"></script>

</html>