<!DOCTYPE HTML>
<html>
 <head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, height=device-height, initial-scale=0.6">
  <link href="css/editbox.css" rel="stylesheet" media="screen">
  <link href="css/editbox.css" rel="stylesheet" media="handheld">
  <title>Создание/редактирование копилки</title>
 </head>

 <body>
	<div align="center">
		<div class="container">
			    
			<div class="deviceBox">
				<div class="nomnam">

					<div class="nom"></div> 
					<div class="nam" name='oper' id="oper">Новая копилка</div> <!-- Создание (name=new) или Редактирование копилки (name=edit) -->
				</div>
				<div class="bloki">
					<div class="text1">Номер копилки</div> <!-- value = номер при редактировании (пользовательский) -->
						<input value='{{ box.nnBox }}' id="nomer" name='nomer' type="text" maxlength="7" class="num" form='save' onclick="" onkeyup="newNomer('{{ box.idBox }}')" onkeypress='return event.charCode >= 48 && event.charCode <= 57'>
					<div class="text2" id='busyList' ></div>
				</div>
				<div class="bloki">
					<div class="text1">Название копилки</div> <!-- value = название при редактировании -->
						<input value='{{ box.nameBox }}' id="name" name='name' type="text" maxlength="30" class="txt" form='save' onclick="" onkeyup="newName('name')" onkeypress=''>
						<div class="text2" id='nameList' ></div>
					</div>
				<div class="bloki">
					<div class="text1">Дата создания</div> <!-- value = дата в формате гггг-мм-дд при редактировании -->
						<input value='{{ box.dateCreateBox }}' id="dateCreate" name='dateCreate' type="date" min='' class="txt" form='save' onclick="" onkeyup="" onkeypress='' disabled>
				</div>
				<div class="bloki">
					<div class="text1">Сумма в копилке</div> <!-- value = сумма при редактировании -->
					<input value='{{ box.summaBox }}' id="summa" name='summa' type="text" maxlength="7" class="num" form='save' onclick="" onkeyup="" onkeypress='return event.charCode >= 48 && event.charCode <= 57'>
				</div>
				<div class="bloki">
					<div class="text1">Сумма план</div> <!-- value = сумма при редактировании -->
					<input value='{{ box.summaPlanBox }}' id="targetsum" name='targetsum' type="text" maxlength="7" class="num" form='save' onclick="" onkeyup="" onkeypress='return event.charCode >= 48 && event.charCode <= 57'>
				</div>
				<div class="bloki">
					<div class="text1">Дата план</div> <!-- value = дата при редактировании -->
						<input value='{{ box.datePlanBox }}' id="targetdate" name='targetdate' type="date" maxlength="7" class="txt" form='save' onclick="" onkeyup="" onkeypress=''>
				</div>

				{% if debts|length > 0 %} <!-- Если есть долги то выводим спойлер -->
					<details id = 'dolgiAll'>
						<summary>Долги</summary>
						<!-- В долгах редактируется сумма без проверок/ Bмеет id = dolg + номер долга
							Выбирается получатель. Имеет id = spis + номер долга
							Действия сохранить и удалить совершаются по ссылкам и передают в функцию номер долга
							Кнопки сохранить неактивны (изменен стиль) при загрузке. Обработчик их не выполняет при клике
							При внесении изменений в сумму или получателя они активируются, после выполнения деактивируются
						-->

						{% for debt in debts %} <!-- Перебор долгов -->
							<div id='dolgBox{{ debt.idDebt }}'>
								{{ debt.date }}  &#8658; <b>{{ debt.transName }}</b><!-- Дата и Долг в / Займ из -->
													<!-- id = spis + номер долга -->			<!-- номер долга -->
								<select class="spis" id='spis{{ debt.idDebt }}' onchange="change('{{ debt.idDebt }}')">
									{% for boxNum  in nameBox|keys %} <!-- перебор копилок -->   
										<option value='{{ boxNum }}' {% if boxNum == debt.partnerNumber %} selected {% endif %}>{{ nameBox[boxNum] }} </option>  <!-- value - номера копилок, название -->
									{% endfor %}	
								</select> - 		<!-- сумма долга -->			<!-- id = dolg + номер долга -->											<!-- номер долга -->
								<input value='{{ debt.summa }}' class="num1" id="dolg{{ debt.idDebt }}" name='{{ debt.idDebt }}' type="text" maxlength="7" onkeyup="change('{{ debt.idDebt }}')" onkeypress='return event.charCode >= 48 && event.charCode <= 57'>
														<!-- id = save + номер долга -->			<!-- Передать номер долга -->
								<div class="debtNo" id='save{{ debt.idDebt }}' title="Сохранить изменения" onclick="debtSave('{{ debt.idDebt }}')">&#128190;</div>
								<div class="debt" title="Удалить долг" onclick="debtDel('{{ debt.idDebt }}')">&#10060;</div><!-- Передать номер долга -->
							</div>
						{% endfor %}

					</details>
				{% endif %}

            </div>
  
			
			<!-- Форма -->
			<input name="box_edit" id = "box_edit" type="hidden" form="save" value='editORnew'/><!-- id копилки или пусто, если она новая -->
			<input name="idBox" id = "idBox" type="hidden" form="save" value='{{ box.idBox }}'/><!-- id копилки или пусто, если она новая -->
			<form type="submit" id="save" method="post" action="index.php" ></form>

            <div class="keys1">
				
				<button class="button2" id = 'delBut' onclick="deleteBox({{ box.idBox }})">Удалить</button>
				<button class="button2" onclick="clickClear();">Очистить</button>
				<button class="button2" id = 'okBut' onclick="send();">Ок</button>
				<button class="button2" onclick="document.location='index.php';">Отмена</button>
				
			</div>

			</div>
		</div>

	</div>

 </body>
 
<script src="js/editbox.js"></script>
 
</html>