<!DOCTYPE HTML>
<html>
 <head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, height=device-height, initial-scale=0.6">
  <link href="css/history.css" rel="stylesheet" media="screen">
  <link href="css/history.css" rel="stylesheet" media="handheld">
  <title>История</title>
 </head>

 <body>
    <div align="center">
        <div class="container">
                
            <div class="deviceBox">
                <div class="nomnam">
                    <div class="nom">{{ box.nnBox }}</div> <!-- Номер Копилки -->
                    <div class="nam">{{ box.nameBox }}</div> 
                </div>

                <div class="sum" id="sum">{{ box.summaBox }}</div> <!-- Сумма в Копилке. Меняется при отмене операций-->
                <div class="hist">История</div> 

                <!-- По этим ссылкам методом GET передается номер копилки -->
                <a class="link" title="Редактирование" href="index.php?box_edit={{ box.idBox }}">&#9998;</a>
                <a class="link" title="Статистика" {% if box.idBox != 1 %}href="index.php?box_stat={{ box.idBox }}"{% endif %}>&#128269;</a>  <!-- Для бюджета статистика не работает -->

            </div>
            
            <!-- Список операций в истории. Каждая запись имеет свой номер, это номер в таблице истории в БД.
               Он используется для удаления строки и передается скрипту при нажатии на кнопку Отмены -->
            <div class="deviceBox" id="allString">
                {% for string in history %}

                    <div id='string{{ string.id }}'><!-- Для удаления операции служит этот div с id = string + номер в истории -->
                        {{ string.date }} &#8658; 
                        {{ events[string.event] }} <span  class="namebox">{{ partners[string.partner] }}</span> - 
                        <span  class="money">{{ string.summa }}</span>
                        <div class="string" title="Отменить" onclick="cancel('{{ string.id }}')">&#10060;</div>
                        <span  class="userbox">({{ string.username }})</span>
                    </div>

                {% endfor %}
            </div>

            <div class="keys1">
                
                <button class="button2" onclick="document.location='index.php'">Ок</button>
                
            </div>

            </div>
        </div>

    </div>

 </body>
 
<script src="js/history.js"></script>

</html>